In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

pd.set_option('display.max_columns', None)

In [3]:
cleads = pd.read_csv("Bank Leads Cleaned.csv")

# Feature Engineering

## Add Age feature

In [9]:
def age(births):
    current_year = datetime.today().year
    ages=[]
    for x in births:
        birth_year = datetime.strptime(str(x), "%Y-%m-%d").year
        ages.append(current_year - birth_year)
    return ages

cleads['Age'] = age(cleads['DOB'])

In [14]:
cleads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68797 entries, 0 to 68796
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Gender                               68797 non-null  object
 1   DOB                                  68797 non-null  object
 2   Lead_Creation_Date                   68797 non-null  object
 3   City_Code                            68797 non-null  object
 4   City_Category                        68797 non-null  object
 5   Employer_Category1                   68797 non-null  object
 6   Employer_Category2                   68797 non-null  float64
 7   Monthly_Income                       68797 non-null  float64
 8   Customer_Existing_Primary_Bank_Code  68797 non-null  object
 9   Primary_Bank_Type                    68797 non-null  object
 10  Contacted                            68797 non-null  object
 11  Source                               68797 non-null  object
 12  Source_Category                      68797 non-null  object
 13  Existing_EMI                         68797 non-null  float64
 14  Loan_Amount                          68797 non-null  float64
 15  Loan_Period                          68797 non-null  float64
 16  Var1                                 68797 non-null  int64
 17  Approved                             68797 non-null  int64
 18  Age                                  68797 non-null  int64
dtypes: float64(5), int64(3), object(11)
memory usage: 10.0+ MB

## Add Lead_Creation month, day, day of week

In [15]:
def create_month(lead_creation_date):
    months = []
    for x in lead_creation_date:
        months.append(datetime.strptime(str(x), "%Y-%m-%d").month)
    return months
    
cleads['Lead_Creation_Month'] = create_month(cleads['Lead_Creation_Date'])

In [16]:
def create_day(lead_creation_date):
    days = []
    for x in lead_creation_date:
        days.append(datetime.strptime(str(x), "%Y-%m-%d").day)
    return days
    
cleads['Lead_Creation_Day'] = create_day(cleads['Lead_Creation_Date'])

In [31]:
def create_day_week(lead_creation_date):
    day_weeks = []
    for x in lead_creation_date:
        day_weeks.append(datetime.strptime(str(x), "%Y-%m-%d").weekday())
    return day_weeks
    
# cleads['Lead_Creation_Day_of_Week'] = create_day_week(cleads['Lead_Creation_Date'])
cleads['Lead_Creation_Day_of_Week'] = create_day_week(cleads['Lead_Creation_Date'])

In [33]:
cleads.head()

,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Category1,Employer_Category2,Monthly_Income,Customer_Existing_Primary_Bank_Code,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Var1,Approved,Age,Lead_Creation_Month,Lead_Creation_Day,Lead_Creation_Day_of_Week
0,Female,1979-07-23,2016-07-15,C10001,A,A,4.0,2000.0,B001,P,N,S122,G,0.0,30000.0,4.0,0,0,45,7,15,4
1,Male,1986-12-07,2016-07-04,C10003,A,C,1.0,3500.0,B002,P,Y,S122,G,0.0,20000.0,2.0,10,0,38,7,4,0
2,Male,1982-12-10,2016-07-19,C10125,C,C,4.0,2250.0,B003,G,Y,S143,B,0.0,45000.0,4.0,0,0,42,7,19,1
3,Male,1989-01-30,2016-07-09,C10477,C,A,4.0,3500.0,B003,G,Y,S143,B,0.0,92000.0,5.0,7,0,35,7,9,5
4,Male,1985-04-19,2016-07-20,C10002,A,A,4.0,10000.0,B001,P,Y,S134,B,2500.0,50000.0,2.0,10,0,39,7,20,2

## Remove observations where Contacted!=1 if all not Approved